# =====================
# Java / Maven
# =====================
**/target/
*.class
*.jar
*.war
*.ear
maven-status/

# =====================
# Node / Frontend
# =====================
**/node_modules/
**/dist/
**/.vite/

# =====================
# IDE / OS
# =====================
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
